@charset 'utf-8';

div#FILPopupOverlay {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    overflow: hidden;
}
div#FILPopupArea {
    width: 90vw;
    height: 90vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0;
    transform: scale(1);
    transition: all 0.4s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}
div#FILPopupTitle {
    border-radius: 15px 15px 0 0;
    padding: 5px;
    text-align: center;
}
div#FILPopupBody {
    padding: 5px;
    flex: 1;
    min-height: 0;
    overflow: auto;
}
div#FILPopupCloseBtn {
    position: absolute;
    width: 36px;
    height: 36px;
    font-size: 24px;
    text-align: center;
    border-radius: 18px;
    top: 5px;
    right: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
div#FILPopupCloseBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
div#FILPopupConfirm {
    padding: 5px;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#FILPopupConfirmTrueBtn,
div#FILPopupConfirmFalseBtn {
    display: inline-block;
    min-width: 144px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    border-radius: 16px;
    margin: 10px;
    padding: 6px;
}

div#FILSnackBox {
    height: 40px;
    width: fit-content;
    max-width: 90vw;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    border-radius: 6px;
    z-index: 2000;
    transition: all 0.5s ease;
    margin: 15px;
    box-sizing: border-box;
}
div#FILSnackText {
    font-size: 13px;
}